* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./wellAtleastWeWon.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#field {
    border: 5px solid black;
}

@font-face {
    font-family: mine-sweeper;
    src: url(./mine-sweeper.ttf);
}

@font-face {
    font-family: hudFont;
    src: url(./hudfont.ttf);
}